<% 
	for(var i1;i1<json.length;i1++) {
	var object = json[i1];
%>
<li><input type="checkbox" />
<b class="<%=i1%>" ><a name="<%=i1%>" ><%=i1%></a></b>
  <% 
	for(var i2;i2<object.length;i2++) {
	var continent = object[i2];
  %>
    <ul>
	<% 
	  for(var i3;i3<continent.length;i3++) {
	    var region = continent[i3];
    %>
      <li><input type="checkbox" /><b><%=region.regionName%></b>
	  <% 
	    for(var i4;i4<region.length;i4++) {
	      var country = region[i4];
      %>
        <ul><li class="<%=country.countryName%>"><input type="checkbox" /><%=country.countryName%>
        <%
        if (country.subCountryList) {
		   for(var i5;i5<country.subCountryList.length;i5++) {
	         var subCountry = country.subCountryList[i5];
	    %>
        <span class="<%=country.countryName%>">-</span>
        <ul>
        <li><input type="checkbox" /><%=subCountry.subCountryName%></li>
        </ul>
		<script>
		(function(){
           $(document).on("click", "input ~ span.<%=country.countryName%>:first" , function(e) {
            $(this).next("ul").is(":visible")
            ? $(this).next("ul").slideUp({start:function() {
                 e.target.textContent = "+";
              }})
            : $(this).next("ul").slideDown({start:function() {
                 e.target.textContent = "-";
              }})
           });
		})();
		</script>
		<%
            }
        }
		%>
        </li>
        </ul>
      <%}%>
      </li>
    <%}%>
    </ul>
  <%}%>
  </li>
<%}%>